@font-face {
    font-family: 'Ramona';
    src: url('/static/fonts/ramona.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Ramona';
    src: url('/static/fonts/ramona_light.ttf');
    font-weight: normal;
}

body {
    background-color: white;
    font-family: Ramona, serif;
}

.feedback-form__container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 20px;
    margin-bottom: 128px;
}

.feedback-form__container .errors {
    background-color: #f0f3fa;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.feedback-form__container .errors ul {
    padding-left: 20px;
}

.feedback-form__container .errors ul li {
    text-decoration: underline;
}

.feedback-form__container .errors .feedback-form__badfields {
    font-weight: bold;
}

.feedback-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.feedback-form select {
    font-family: Ramona, serif;
}

.feedback-form select option {
    font-family: Ramona, serif;
}

.feedback-form__field {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.feedback-form__field label {
    margin-bottom: 4px;
    font-weight: bold;
    display: flex;
    color: black;
}

.feedback-form__field label.error {
    color: red;
}

.feedback-form__field textarea {
    min-height: 150px;
}

.feedback-form__required {
    color: gray;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 4px;
    font-weight: normal;
}

.feedback-form__field-input {
    border: black 2px solid;
    padding: 6px;
}

.feedback-form__field-input.error {
    border: red 2px solid;
}

.feedback-form__error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.feedback-form__button-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 24px;
}

.feedback-form__button {
    width: 150%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: Ramona, serif;
    font-size: 16px;
}

.feedback-form__captcha-image {
    width: 400px;
    border: 2px solid black;
    margin-bottom: 4px;
}

.feedback-form__captcha {
    display: flex;
    flex-direction: row;
}

.feedback-form__captcha-update {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.feedback-form__captcha-update-img {
    width: 32px;
    height: 32px;
}